<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%=h @user.name %></h1>
    <p>
      New discussion created by <%=h @discussion.user.name %>: <%=h @discussion.title %>.
    </p>
    <p><a href="<%=h discussion_url(@discussion.id) %>">View content</a></p>
  </body>
</html>
